body {
    /* for margins you use em units which is going to be ( x * default-font-size) */
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
    /* for font sizes you use rem */
    font-size: 1.3rem;
}

.hero-img {
    /*need to specify that the position is going to be absolute, so that you can start giving the absolute units*/
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/shoe.jpg);
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    //view port height check that up on google to understand it a little bit more
    height: 100vh;
    // where it falls
    z-index: -1;
    animation: introLoad 2s forwards;
    //overflow: hidden;
    
}
.logo {
    color: white;
    font-weight: bold;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            // margin and padding are basically the same thing padding syntax --> padding: yem xem
            padding: .75em 2em;
            display: block;

            &:hover {
                background: rgb(237, 237, 237);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 1.5em;

    }
}

header {
    display: flex;
    justify-content: space-between;
// This feature of nesting means that only svg elements inside of header will be styled 
    svg {
        width: 1.5em;
        margin-top: -0.6em;
        cursor: pointer;
    }
}

h1 {
    //font size normal
    font-size: 3rem;
    //margin from the top of the webpage
    margin-top: 2em;
    //line height is the distance between the lines between words stacking distance in ebooks
    line-height: 3.3rem;

}

.subhead {
    font-size: 1.4rem;
}

section.hero {
    color: white;
    height: 90vh;

    animation: moveDownText 2s ease-in-out forwards;
    opacity: 0;

    .down-arrow {
        margin-top:1.4em ;
        stroke: white;
        position: absolute;
        bottom: 2em;
        width: 1em;

        //alternate reverse goes back and forth between two states
        animation: moveArrow 1s alternate-reverse infinite;

        path {
            fill: white;
        }
    }
}

.more-info {
    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem
    }

    .desc {
        line-height: 1.5rem;
    }
}

.open-nav {
    transform: translateX(0%);
}

//this is basically and if statment saying that if the screen size if bigger than x pixels instead use this styling for desktop version
@media only screen and (min-width: 680px) {

    body {
        /* for margins you use em units which is going to be ( x * default-font-size) */
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    
    }

}
@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0%);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close {
            display: none;
        }
        
        ul {
            // if you appy display flex on a parent container means that any child elements will become columns
            display: flex;
            margin: 0;


            a {
                color: white;
                padding: .5em 1.5em;
                font-size: .9rem;

                &:hover {
                    background: rgb(44, 0, 0);
                }
            }

        }
    }

    .hero-img{
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo {
        color: black;
    }
    
    header {

        span{
            color: red;
        }

    }

    section.hero {
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 8em;
        svg.down-arrow {
            stroke: black;
            position: unset;
            
            path {
                fill: black;
            }
        }
    }


    .feature {
        display: grid;

        // repeat function to repeat with 2 elements each grid with potion auto
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 25em;
        }


    }


    .feature.left {
        grid-template-areas: 
            "left right";
    
        img {
            grid-area: left;
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }




    //end of min 920px 
}



@media only screen and (min-width: 1200px) {

    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    to {
        clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);

    }
}

@keyframes moveArrow {
    from {
        transform: translateY(30px)
    }

    to {
        transform: translateY(0)

    }
}
@keyframes moveDownText {
    from {
        transform: translateY(-100px)
    }

    to {
        transform: translateY(0);
        opacity: 100;
    }
}

